bin/
build*/
dist/
*.egg-info/
.vs
Nrd.cfg
Omm.cfg
tests/output/*
.vscode/
/External/dxc
/External/AgilitySDK
/External/Streamline
/External/OIDN
/External/DLSS

# local project files for shader development outside of VS
*.sublime-*
compile-shaders.bat
