bin/
build*/
dist/
*.egg-info/
.vs
Nrd.cfg
Omm.cfg
tests/output/*
.vscode/
/External/dxc
/External/AgilitySDK
/External/Streamline
/External/OIDN
/External/DLSS

# Python
__pycache__/
*.py[cod]
*$py.class
*.pyo

# local project files for shader development outside of VS
*.sublime-*
compile-shaders.bat
